html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.item-list ul {
  padding-left: 1em;
}
 
#appLayout {
  height: 100%;
}
#leftCol {
  width: 18em;
}
#rightCol {
  width: 18em;
}
 
#viewsChart {
  width: 550px;
  height: 550px;
}

#spinner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.bims-panel-header {
  font-weight: bold;
  margin-top: 5px;
}

.bims-section-header {
  font-weight: bold;
  margin-top: 5px;
}

#loadingOverlay {
  background-color:  #FFFFFF;
 
  background: -webkit-linear-gradient(#dee0b6, #b5b091); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#dee0b6, #b5b091); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#dee0b6, #b5b091); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#dee0b6, #b5b091); /* Standard syntax */
}
 
.pageOverlay {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1001;
  display: block;

}
#bims-logo {
  padding-top: 100px;
  width: 400px;
}
#bims-welcome {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px; 
  padding-top: 100px;
}
.pageOverlay img {
  display: block;
  margin: auto;
}

#spinner {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1001;
  display: block;
}
#spinner img {
  display: block;
  margin: auto;
  padding-top: 100px;
}
#pipeline  {
  display: block;
  margin: auto;
}

.loadingMessage {
  padding: 25px 40px;
  color: #999;
}

#jbrowse-frame {
  border: 0;
}
#jbrowse-links {
  width: 100%;
  border-bottom: 1px solid #000000;
  text-align: right;
}
#webapollo-frame {
  border: 0;
}

#workflow-key-na {
  background-color: #C05048; 
  padding-left: 5px; 
  border-left:  1px solid black;
  border-top:   1px solid black;
  border-right: 1px solid black;
  font-weight:  bold;
  color:        white;
}
#workflow-key-block {
  background-color: #F79646; 
  padding-left: 5px; 
  border-left:  1px solid black;
  border-top:   1px solid black;
  border-right: 1px solid black;
  font-weight:  bold;
  color:        white;
}
#workflow-key-done {
  background-color: #4BACC6; 
  padding-left: 5px; 
  border-left:  1px solid black;
  border-top:   1px solid black;
  border-right: 1px solid black;
  font-weight:  bold;
  color:        white;
}
#workflow-key-allow {
  background-color: #9BBB59; 
  padding-left: 5px; 
  border-left:  1px solid black;
  border-top:   1px solid black;
  border-bottom:1px solid black;
  border-right: 1px solid black;
  font-weight:  bold;
  color:        white;
}

#main-links {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}

table caption {
  font-weight: bold;
}

#bims-workflow-svg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#welcome-container {
  height: 100%;
  width: 100%;
  text-align: center;
}
#welcome-container h2 {
  font-size: 2em;
  margin-bottom: 0px;
}
#buttons-instructions {
  display: block;
  height: 90px;
  right: 50%;
  padding: 10px;
  position: fixed;
  top: 100px;
  width: 300px;
  z-index: 100;
  font-size: 1.2em;
}
#up-arrow {
  width: 50px;
  float: left;
  margin-right: 10px;
}
#accordion-instructions {
  display: block;
  height: 140px;
  padding: 10px;
  position: fixed;
  right: 280px;
  top: 100px;
  width: 200px;
  z-index: 100;
  font-size: 1.2em;
}
#right-arrow {
  height: 50px;
  float: right;
  margin-left: 20px;
}

#tabs-instruction {
  display: block;
  height: 140px;
  padding: 10px;
  position: fixed;
  left: 20px;
  top: 100px;
  width: 200px;
  z-index: 100;
  font-size: 1.2em;
}
#up-arrow-blue {
  width: 50px;
  float: left;
  margin-right: 10px;
}

