/*
 * DOJO customizations 
 */
/* BLUE scheme
 body {
  background-color: #AADDFF;
}
 
.claro .demoLayout .edgePanel {
  background-color: #d0e9fc;
}
*/

/*
 * BROWN scheme 
 */
body {
  background-color: #b5b091;
  background: -webkit-linear-gradient(#b5b091, #dee0b6); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#b5b091, #dee0b6); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#b5b091, #dee0b6); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#b5b091, #dee0b6); /* Standard syntax */
}

.claro .demoLayout .edgePanel {
    background-color: #dee0b6;
}

.claro .dijitAccordionInnerContainerSelected {
    background-color: #dee0b6;
    border-color: #888888;
}

.claro .dijitAccordionContainer .dijitAccordionChildWrapper {
    background-color: #ffffff;
    border: 1px solid #888888;
    margin: 0 2px 2px;
}

.claro .dijitTabChecked {
    background-color: #dee0b6;
    border-color: #b5bcc7;
    color: #000000;
}

