[draggable=true] {
  -khtml-user-drag: element;
}
a {
  color: #003200;
}
.bims_hide_vscroll {
  overflow:none;
}
.bims-sidebar-title {
  color : black;
  font-size: 14px;
}
.bims-histogram {
  background: url("../img/bims_histogram_bar.png");
}
.bims-textarea-250 {
  width: 250px;
  max-width: 250px;
}
.bims-textarea-300 {
  width: 300px;
  max-width: 300px;
}
.bims-textarea-400 {
  max-width: 400px;
}
.bims-textarea-500 {
  width: 500px;
  max-width: 500px;
}
input[type="button"], input[type="submit"], button {
  margin-top:4px;
  margin-left:1px;
}
.bims-open-tab {
  background: url("/sites/all/modules/bims/theme/img/bims_open_tab.png") no-repeat !important;
}
#bims_map {
  height: 100%;
}
#bims_dnd_photo {
  border:2px dotted #CECECE;
  width:400px;
  height:100px;
  color:#CECECE;
  text-align:left;vertical-align:middle;
  padding:10px;
  margin-bottom:10px;
  font-size:150%;
}

.bims-image-thumb {
  display:block;
  position:absolute;
  cursor:pointer;
}
.bims-image-thumb a. {
  fill:none;
  stroke:#fff;
  stroke-width:360;
  stroke-miterlimit:10
}
.bims-image-thumb:hover {
  opacity:.8;
}

.bims-rounded-div {
  border-radius:5px;
  border:1px solid gray;
  padding:10px;
  width:93%;
}
.bims_center {
  display:block;
  margin:0 auto;
}

.bims-rounded-2-div {
  box-shadow:0px 0px 70px #222;
  -moz-box-shadow:0px 0px 70px #222;
  -webkit-box-shadow:0px 0px 70px #222;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  background-color:#fff;
  margin:0px auto;
  border-left:2px solid #fff;
  border-right:2px solid #fff;
}
/* -------------------------------------------- */
/* jsTree                                       */
/*   DarkKhaki #BDB76B                          */
/*                                              */
/*   Tusk      #DEE0B6-E4E6C4-EBECD3-EEEFED     */
/* -------------------------------------------- */
#BIMS-TREE-RW  .jstree-anchor:hover { background-color:#E4E6C4; }
#BIMS-TREE-RW  .jstree-clicked { background-color:#EBECD3; }
#BIMS-TREE-RO  .jstree-anchor:hover { background-color:#E4E6C4; }
#BIMS-TREE-RO  .jstree-clicked { background-color:#EBECD3; }
#BIMS-TREE-ROT .jstree-anchor:hover { background-color:#E4E6C4; }
#BIMS-TREE-ROT .jstree-clicked { background-color:#EBECD3; }
#BIMS-CT .jstree-anchor:hover { background-color:#E4E6C4; }
#BIMS-CT .jstree-clicked { background-color:#EBECD3; }
#BIMS-BLT .jstree-anchor:hover { background-color:#E4E6C4; }
#BIMS-BLT .jstree-clicked { background-color:#EBECD3; }
.bims_edit{
  display: inline-block;
  width: 16px;
  background-image: url("../img/bims_edit_16.png");
}

.bims_google_map {
  display: inline-block;
  width: 16px;
  background-image: url("../img/google_map/bims_google_map_16.png");
}

/* jsTree custom icons */
.jstree-default .bims-program {
  background: url("../img/bims_program.png") no-repeat;
  background-repeat: no-repeat;
}
.jstree-default .bims-sub-program {
  background: url("../img/bims_sub_program.png") no-repeat;
  background-repeat: no-repeat;
}
.jstree-default .bims-cross {
  background: url("../img/bims_cross.png") no-repeat;
  background-repeat: no-repeat;
}
.jstree-default .bims-stock {
  background: url("../img/bims_stock.png") no-repeat;
  background-repeat: no-repeat;
}
.jstree-default .bims-trial {
  background: url("../img/bims_trial.png") no-repeat;
  background-repeat: no-repeat;
}
.jstree-default .bims-trial-ro {
  background: url("../img/bims_trial_ro.png") no-repeat;
  background-repeat: no-repeat;
}
/* -------------------------------------------- */
/* Home Page                                    */
/* -------------------------------------------- */
#bims-logo {
  float         : left;
  margin-right  : 10px;
  margin-bottom : 10px;
  margin-top    : 5px;
}
#bims-home-content {}
#bims-home-blocks {
  float         : right;
  padding       : 10px;
  margin-left   : 20px;
  margin-bottom : 20px;
  border        : 1px solid #333333;
}
#block-gsas-tools h2.title {}
.bims-program-label {
   float        : right;
   margin-right : 10px;
}
.bims-program-name {
   float        : right;
   margin-right : 10px;
   clear        : right;
}
/* -------------------------------------------- */
/* FORM elements                                */
/* -------------------------------------------- */
.bims_std_btn {
	width:180px;
}
.btn {
  color:black;
}
/* -------------------------------------------- */
/* TOP panel                                    */
/* -------------------------------------------- */
.top-panel {
   float  : left;
   margin : 1px 2px 1px 2px;
   padding : 0px;
   height : 37px;
}
/* -------------------------------------------- */
/* MISC.                                        */
/* -------------------------------------------- */
.red_asterisks {
  margin-left : 3px;
  color       : red;
}
/* -------------------------------------------- */
/* JSTRE                                        */
/* -------------------------------------------- */
.jstree-folder {
  background:url('sites/all/modules/bims/theme/img/file_sprite.png') right bottom no-repeat;
}
.jstree-file {
  background:url('sites/all/modules/bims/theme/img/file_sprite.png') 0 0 no-repeat;;
}
.jstree-trial {
  background:url('sites/all/modules/bims/theme/img/file_sprite.png') 0 0 no-repeat;;
}

/**
.folder { background:url('./file_sprite.png') right bottom no-repeat; }
.file { background:url('./file_sprite.png') 0 0 no-repeat; }
.file-pdf { background-position: -32px 0 }
.file-as { background-position: -36px 0 }
.file-c { background-position: -72px -0px }
.file-iso { background-position: -108px -0px }
.file-htm, .file-html, .file-xml, .file-xsl { background-position: -126px -0px }
.file-cf { background-position: -162px -0px }
.file-cpp { background-position: -216px -0px }
.file-cs { background-position: -236px -0px }
.file-sql { background-position: -272px -0px }
.file-xls, .file-xlsx { background-position: -362px -0px }
.file-h { background-position: -488px -0px }
.file-crt, .file-pem, .file-cer { background-position: -452px -18px }
.file-php { background-position: -108px -18px }
.file-jpg, .file-jpeg, .file-png, .file-gif, .file-bmp { background-position: -126px -18px }
.file-ppt, .file-pptx { background-position: -144px -18px }
.file-rb { background-position: -180px -18px }
.file-text, .file-txt, .file-md, .file-log, .file-htaccess { background-position: -254px -18px }
.file-doc, .file-docx { background-position: -362px -18px }
.file-zip, .file-gz, .file-tar, .file-rar { background-position: -416px -18px }
.file-js { background-position: -434px -18px }
.file-css { background-position: -144px -0px }
.file-fla { background-position: -398px -0px }
*/

.bims_grayout {
  font-style: italic;
  opacity: 0.6; /* Real browsers */
  filter: alpha(opacity = 60); /* MSIE */
}
.bims-description {
  font-style: italic;
  opacity: 0.9; /* Real browsers */
  filter: alpha(opacity = 90); /* MSIE */
  background-color:#FFFFFF;
  max-width: 400px;
}
/* -------------------------------------------- */
/* BORDER                                       */
/* -------------------------------------------- */
.border {
  border         : 1px #999999 solid;
  padding-top    : 10px;
  padding-bottom : 10px;
  padding-left   : 15px;
  padding-right  : 15px;
  font-family    : verdana, arial;
  font-size      : 8pt;
  color          : #000000;
  line-height    : 1.9;
  margin-left    :-3px;
}
.border_light {
  border         : 3px #FFFFFF solid;
  margin         : 2px;
  padding-top    : 8px;
  padding-bottom : 8px;
  padding-left   : 8px;
  padding-right  : 8px;
  font-family    : verdana, arial;
  font-size      : 8pt;
  color          : #000000;
  line-height    : 1.6;
}
.border_light_wide {
  border           : 1px #CCCCCC solid;
  background-color : #FFFFFF;
  padding-top      : 8px;
  padding-bottom   : 8px;
  padding-left     : 8px;
  padding-right    : 8px;
  font-family      : verdana, arial;
  font-size        : 8pt;
  color            : #000000;
  line-height      : 1.6;
}

/* -------------------------------------------- */
/* TEXT                                         */
/* -------------------------------------------- */
.MainPageMediumText  {
  font-family : verdana;
  font-size   : 8pt;
  color       : #000000;
  line-height : 1.6;
}
.MainPageSmallText  {
  font-family : verdana;
  font-size   : 7.5pt;
  color       : #000000;
  line-height : 1.6;
}
.SeqTextHi {
  border           : 1px #999999 solid;
  font-family      : courier new;
  font-size        : 9pt;
  color            : #000000;
  background-color : #95E4CA;
  line-height      : 1.6;
}
.SeqTextHiORF {
  border           : 1px #999999 solid;
  font-family      : courier new;
  font-size        : 9pt;
  color            : #000000;
  background-color : #FFE5E5;
  line-height      : 1.6;
}
.SeqText{
  font-family : courier new, verdana;
  font-size   : 9pt;
  color       : #000000;
  line-height : 1.6;
}
/* -------------------------------------------- */
/* EFFECT                                       */
/* -------------------------------------------- */
.shadow { 
  -moz-box-shadow    : 4px 4px 5px #000;
  -webkit-box-shadow : 4px 4px 5px #000;
  box-shadow         : 4px 4px 5px #000;
  /* For IE 8 */ 
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=135, Color='#000000')"; 
  /* For IE 5.5 - 7 */ 
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=135, Color='#000000'); 
}










